.login {
  @apply w-full h-screen flex justify-center items-center shadow-lg;

  &__wrapper {
    @apply bg-black-100 w-full;

    padding: 50px 50px 30px;
    border-radius: 10px;
    max-width: 300px;

    @screen md {
      max-width: 400px
    }
  }

  &__top {
    @apply flex flex-col items-center;

    svg {
      height: 38px;
      width: 50px;
    }

    h1 {
      @apply font-semibold text-center;

      &:first-of-type {
        @apply text-primary-dark mt-6;
      }
    }
  }
  
  &__bottom {
    @apply mt-10;
  }
}
