.login-form {
  input,
  button {
    @apply w-full;
  }

  button {
    @apply flex justify-center items-center uppercase font-semibold font-raleway;

    margin-top: 35px;
    font-size: 15px;
  }

  input {
    @apply border-b border-white outline-none text-white;

    background-color: transparent;

    &::placeholder {
      @apply text-grey-100;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
  }

  &__email-wrap {
    @apply mb-6;
  }

  &__password-wrap {
    @apply flex flex-col relative;
  }

  &__password-field {
    @apply flex flex-row relative;

    svg {
      @apply w-5 h-5 absolute right-0 top-1/2 cursor-pointer transition;

      transform: translateY(-50%);

      &:hover {
        @apply text-black-50;
      }
    }
  }

  &__remember-me-wrap {
    @apply flex flex-row items-center mt-3;

    label {
      @apply text-sm flex flex-row items-center ml-1;

      margin-top: 1px;
    }

    input {
      @apply w-3 h-3 mb-0;
    }
  }

  &__visible {
    &--true {
      @apply text-grey-100;
    }

    &--false {
      @apply text-white;
    }
  }

  &__email-wrap,
  &__password-wrap,
  &__remember-me-wrap {
    p {
      @apply text-sm text-center;

      span {
        @apply text-primary-default transition cursor-pointer;

        &:hover {
          @apply text-primary-dark;
        }
      }
    }
  }

  &__sign-up {
    @apply text-sm text-center;

    margin-top: 75px;

    span {
      @apply text-primary-default transition cursor-pointer;

      &:hover {
        @apply text-primary-dark;
      }
    }
  }

  &__text-field {
    @apply p-1;
  }

  &__error-message {
    @apply text-red-100 text-sm italic flex flex-row items-center text-center mt-2.5;

    svg {
      @apply mr-1.5;

      height: 15px;
      width: 15px;
    }
  }
}
