.navigation-bar-aside {
  @apply py-6 w-full h-screen;

  max-width: 70px;

  @screen md {
    @apply py-10 pl-14;

    max-width: 215px;
  }

  &__wrapper {
    @apply flex flex-col items-center;

    @screen md {
      @apply block;
    }
  }

  &__profile-block {
    @apply relative;

    @screen md {
      @apply w-full flex flex-col items-center justify-center py-3.5;

      background-color: rgba(255, 255, 255, .02);
      border-radius: 3px;
      box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.05);
      max-width: 105px;
    }

    h3 {
      @apply font-semibold text-xs hidden;

      @screen md {
        @apply mt-3.5 block;
      }
    }
  }

  &__profile-picture {
    @apply rounded-full;

    img,
    span {
      @apply rounded-full;
    }
  }
}
